body {
	font-family: 'Roboto', sans-serif;
	color: $mainText;
}

img {
	max-width: 100%;
	height: auto;
}

* {
	box-sizing: border-box;
}

a {
	color: $lightPurple;
	text-decoration: none;
	display: block;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 1px solid #ccc;
	z-index: 12;
}