@define-mixin atSmallest {
	@media (min-width: 530px) {
		@mixin-content;
	}
}

@define-mixin atSmall {
	@media (min-width: 750px) {
		@mixin-content;
	}
}

@define-mixin atMedium {
	@media (min-width: 1000px) {
		@mixin-content;
	}
}

@define-mixin atLarge {
	@media (min-width: 1250px) {
		@mixin-content;
	}
}

@define-mixin clearFix {
	&::after {
		content: "";
		clear: both;
		display: table;
	}
}