.banner {
	@mixin clearFix;
	position: relative;
	top: 125px;
	padding: 0;

	&__image {
		display: block;
	}

	&__content {
		color: #eee;
		font-family: 'Oswald', sans-serif;
		text-shadow: 1px 1px 1px #aaa;
		text-align: center;
		font-weight: 300;
		letter-spacing: 1.3px;
		position: absolute;
		background-color: rgba(125,125,125,0.6);
		top: 50%;
		padding: 30px 0;

		&--title {
			margin: 5px 0;
			padding: 0;
			font-size: 1.8rem;
		}

		&--tagline {
			margin: 0;
			padding: 0;
			font-size: 1.25rem;
		}
		
		@mixin atMedium {
					bottom: 10%;
					right: 0;
					padding: 10px;
					width: 100%;
					text-align: right;

					&--title {
						font-size: 3.5rem;
					}

					&--tagline {
						padding-left: 50px;
						font-size: 1.75rem;
					}
		}

		@mixin atLarge {

					&--title {
						font-size: 5rem;
					}

					&--tagline {
						font-size: 3rem;
					}
		}

	}
}